openapi: 3.0.3
info:
  title: MartAI Public API
  description: |
    REST API for MartAI SEO & Content Platform.

    ## Authentication
    All endpoints require an API key. Pass it via:
    - `Authorization: Bearer mart_xxx` (preferred)
    - `X-API-Key: mart_xxx`

    ## Rate Limits
    - Read endpoints: 100/hour
    - Write endpoints: 50/hour

    Rate limit headers included in all responses.

    ## Pagination
    List endpoints support `limit` (max 100) and `offset` query params.
  version: 1.0.0
  contact:
    name: MartAI Support
    email: support@martai.io

servers:
  - url: https://app.martai.io/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Development

security:
  - BearerAuth: []
  - ApiKeyAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Use `Authorization: Bearer mart_xxx`'
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Use `X-API-Key: mart_xxx`'

  schemas:
    Keyword:
      type: object
      properties:
        _id:
          type: string
        keyword:
          type: string
        searchVolume:
          type: integer
        difficulty:
          type: integer
          minimum: 0
          maximum: 100
        intent:
          type: string
          enum: [informational, commercial, transactional, navigational]
        source:
          type: string
        createdAt:
          type: number

    Cluster:
      type: object
      properties:
        _id:
          type: string
        clusterName:
          type: string
        keywords:
          type: array
          items:
            type: string
        totalVolume:
          type: integer
        avgDifficulty:
          type: number
        status:
          type: string

    Brief:
      type: object
      properties:
        _id:
          type: string
        title:
          type: string
        keyword:
          type: string
        status:
          type: string
          enum: [pending, in_progress, completed, published]
        outline:
          type: array
          items:
            type: object
        createdAt:
          type: number

    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        hasMore:
          type: boolean

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        requestId:
          type: string

  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: API key lacks required permission
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

paths:
  /keywords:
    get:
      summary: List Keywords
      description: Get all keywords for the project associated with this API key
      tags: [Keywords]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Keywords list
          headers:
            X-RateLimit-Limit:
              schema: { type: integer }
            X-RateLimit-Remaining:
              schema: { type: integer }
            X-Request-Id:
              schema: { type: string }
          content:
            application/json:
              schema:
                type: object
                properties:
                  keywords:
                    type: array
                    items:
                      $ref: '#/components/schemas/Keyword'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

    post:
      summary: Create Keywords
      description: Add new keywords to the project
      tags: [Keywords]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [keywords]
              properties:
                keywords:
                  type: array
                  items:
                    type: string
                  maxItems: 100
            example:
              keywords: ['seo tips', 'content marketing', 'keyword research']
      responses:
        '201':
          description: Keywords created
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: array
                    items:
                      type: string
                  count:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /clusters:
    get:
      summary: List Topic Clusters
      description: Get keyword clusters (topic groups) for the project
      tags: [Clusters]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Clusters list
          content:
            application/json:
              schema:
                type: object
                properties:
                  clusters:
                    type: array
                    items:
                      $ref: '#/components/schemas/Cluster'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /briefs:
    get:
      summary: List Content Briefs
      description: Get content briefs for the project
      tags: [Briefs]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, in_progress, completed, published]
      responses:
        '200':
          description: Briefs list
          content:
            application/json:
              schema:
                type: object
                properties:
                  briefs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Brief'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  filters:
                    type: object
                    properties:
                      status:
                        type: string
                        nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'

  /analytics:
    get:
      summary: Get Analytics Summary
      description: Get KPIs and analytics data for the project
      tags: [Analytics]
      parameters:
        - name: days
          in: query
          description: Number of days to include (1-90)
          schema:
            type: integer
            default: 30
            minimum: 1
            maximum: 90
      responses:
        '200':
          description: Analytics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  analytics:
                    type: object
                    description: KPI metrics
                  filters:
                    type: object
                    properties:
                      days:
                        type: integer
                      from:
                        type: string
                        format: date-time
                      to:
                        type: string
                        format: date-time
                  projectId:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

tags:
  - name: Keywords
    description: Manage SEO keywords
  - name: Clusters
    description: Topic clusters (keyword groups)
  - name: Briefs
    description: Content briefs and outlines
  - name: Analytics
    description: SEO analytics and KPIs
